@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Come see why Fandango is the go-to destination for more than 36 million moviegoers each month. 
    Fandango helps movie fans discover, buy tickets and share their passion for movies in a more engaging and interactive way.
    Fandango entertains, informs and guides film fans with must-see trailers and movie clips, exclusive and original content, insider news and expert commentary.
    We make it easy to find and buy the right movie at the right time, with showtimes and ticketing to more than 26,000 screens nationwide.
     Fandango is available online, and through our award-winning mobile and connected television apps with over 46 million downloads and counting. We welcome movie fans on Facebook, Twitter, Instagram, Tumblr, Google+ and Pinterest.   
</p>

<p>Use this Website 
    1.To buy Tickets
    2. To Give Ratings to a Movie
    3. To Give Review to a Movie
    </p>
